/* Общее */

html {
  height: 100%;
  width: 100%;
}

.yellow a {
  color: #FF9300;
  font-size: 16px;
}

.container {
  margin: 50px auto;
}

.sell {
  border:2px #ee2c17  solid;
}

.smallh1 {
   font-size: 28px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}



/* header */

.header {
  width: 100%;
  overflow: hidden;
  font-family: "Source Sans Pro", sans-serif;
}

.header-logo-img-mobile {
  display: none;
}

.header-logo-text-laptop {
  display: none;
}

.header-content {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  gap: 10px;
}

.header-menu-mobile {
  display: none;
}


.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  /*max-width: 60%;*/
  /*min-width: 500px;*/
  margin-left: auto;
  overflow: hidden;
}

.header-logo {
  display: flex;
  margin-left: 25px;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
  align-content: center;
}

.header-logo-img {
  padding-top: 7px;
  weight: 30px;
  height: 55px;
}

.header-logo-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 129%;
  color:#666;
}

.header-connection {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.header-phone {
  display: flex;
  gap: 10px;
  margin-top: 8px;
}

.header-phone-img {
  

}

.header-phone-text {
  font-size: 16px;
}

.header-network {
  display: flex;
  margin-top: 5px;
}

.header-network-tg {
  padding-right: 8px;
}

.header-network-wp {

}

.header-search {
  display: flex;
  border: 1px solid #666;
  border-radius: 10px;
  padding: 0px 0px 0px 10px;
  font-size: 14px;
  color: #666;
  text-align: center;
  width: 80px;
  height: 45px;
}

.header-search img {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.header-feedback {
  border: 2px solid #FF9300;
  border-radius: 10px;
  padding: 5px;
}

.header-menu {
  display: flex;
  margin-top: 10px;
  gap: 10px;
  justify-content: flex-end;
}

.header-nav ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  padding-left: 0px;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
}

.header-grey a { 
  color:#666;
  text-decoration: none;
  
}

.header a {
  outline: none;
  text-decoration: none;
}

.header-nav a:link { /*не посещенная*/
  
}

.header-nav a:visited { /*ранее посещенная*/
  
}

.header-nav a:focus { /*в фокусе?*/
  
}

.header-nav a:hover { /*при наведении мыши*/
  
}

.header-nav a:active { /*стиль в момент клика*/
  
}

.header-nav ul li {
  font-size: 14px;
}

.header-basket {

}

/* body */

.body-block-blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  
}

/* body начальный баннер*/

.container-1 {
  background-image: url('images/background.jpg');
  background-size: cover;
}

.banner {
  padding: 57px;
  /* min-height: 425px; */
}

.banner-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.banner-row-content {
  
}

.banner-list {
  max-width: 650px;
}

.banner-title {
  color: #fff;
  font-size: 28px;
  max-width: 645px;
}

.banner-activities a {
  outline: none;
  text-decoration: none;
  color:#212529;
}

.banner-activities {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  padding-left: 0;
}

.banner-activities li {
  padding: 10px 10px;
  border-radius: 10px;
  list-style: none;
  cursor: pointer;
} 

.banner-activities-yellow {
  background: #ffd47d;
}

.banner-activities-white {
  background: #fff;
}

.banner-card {
  margin-top: 60px;
  border-radius: 10px;
  background: rgba(80, 78, 78, 0.6);
  padding: 40px 33px 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  max-width: 375px;
  
}

.banner-card-title {
  font-size: 24px;
}

.banner-card-text {
  font-size: 18px;
}

.banner-card-button a {
  outline: none;
  text-decoration: none;
  color:#fff;
  font-weight: bold;
}

.banner-card-button {
  background: #FF9300;
  padding: 20px 20px;
  border-radius: 10px;
  transition: background 0.6s; 
  cursor: pointer;
}

.banner-card-button:hover {
  background: #ff7300;
  
}

/* body преимущества */


.body-advantages {
  margin-top: 20px;
  margin-bottom: 20px;
}

.body-list-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.body-advantages-item {
  max-width: 200px;
  padding: 20px;
  text-align: center;
}

.body-advantages-item img {
  width:60px;
  height:60px;
}

/*блок Почему выбирают нас?*/

.block-why {
  background: #2F2E2D;
  padding: 40px 0px 15px;
}

.why-title {
  padding: 5px 0px 5px 57px;
  font-size: 24px;
}

.why-title-white {
  color: #fff;
}

.why-title-yellow {
  color:#FF9300;
}

.why-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 40px;
}

.why-column {
  flex: 0 1 50%;
  margin: 0px 0px 0px 0px;
}

.why-content {

}

.why-item {
  display: flex;
  padding: 10px;
}

.why-item-img {
  flex: 0 0 20px;
  padding-right: 10px ;
}

.why-item-body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 10px;
  min-width: 220px;
  color: #fff;
}

.why-item-title {
  font-size: 16px;
  font-weight: bold;
}

.why-item-text {
  font-size: 16px ;
}

/*tabs*/

.tab-catalog {
  display: none;
}

.select {
  display: block;
  max-width: 300px;
  width: 100%;
  position: relative;
}

.new-select {
  position: relative;
  border: 1px solid #ced4da;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
}

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span:hover {
  color:#FF9300;
}

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  background: url('path-to-image') no-repeat right center / cover;
  opacity: 0.6;

  -webkit-transition: all .27s ease-in-out;
      -o-transition: all .27s ease-in-out;
          transition: all .27s ease-in-out;

  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
}

.new-select.on:after {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tabs {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.tab-list {
  margin: 20px 57px;
}


.tab {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  margin: 20px 57px;
}

.tab > input[type="radio"] {
  display: none;
}

.tab-content {
  display: none;
  width: 100%;
  margin-top: 1rem;
}

#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
#tab-btn-5:checked~#content-5,
#tab-btn-6:checked~#content-6 {
  display: block;
}

.tab > label {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  transition: color .15s ease-in-out, border-color .15s ease-in-out;
  color: #4a4747;
  background: 0 0;
  border-bottom: 0.125rem solid transparent;
}

.tab > label:hover {
  border-bottom-color: #4a4747;
}

.tab > input[type="radio"]:checked + label {
  cursor: default;
  font-weight: bold;
  color: #212529;
  border-bottom-color: #212529;
}

.title-tabs {
  font-size:27px;
  max-width: 700px;
  margin: 0px 57px;
}

.title-tabs-grey {
  color:#4a4747;
}

.title-tabs-yellow {
  color:#FF9300;
}

.package-card {
  background-color: #f0f0f0; 
  padding: 20px;
  border-radius: 10px; 
  margin: 10px 0px 40px 0px; 
  max-width: 350px; 
  min-height: 250px; 
}

.package-card-header {

}

.package-card-tatle {

}

.package-card-text {

}
      
.package-card-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px 0px;
}
    
.package-card-link a{
  text-decoration: none;
  color: #014D8B;
  font-weight: bold;
}
    
.package-card-cost a {
  font-size: 12px;
  font-weight: bold;
  color: #4a4747;
}

.package-card-cost-lable {

}
      
.package-card-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
    
.package-card-basket a {
  text-decoration: none;
  color:#212529;
  font-weight: bold;
  font-size: 18px;
  border: 2px solid #FF9300;
  border-radius: 10px;
  padding: 15px 5px;
  transition: background 0.6s;
}

.package-card-basket a:hover {
  background: #ff7700;
}
      
.package-card-demo a {
  color: #212529;
}

.dash-list {
  padding: 5px 0px;
}

ul.dash-list {
  list-style: none; 
}
ul.dash-list li::before {
  content: "— "; 
  padding-right: 5px; 
}

.body-consultation {

}

.consultation-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 12%;
  padding: 30px;
  border-radius: 10px;
  background: #014D8B;
}

.consultation-card-title {
  text-align: center;
  color: #fff;
  font-size: 24px;
}

.consultation-card-text{
  text-align: center;
  color: #fff;
  max-width: 80%;
  font-size: 18px;
}

.form-card-button {
  text-align: center;
  border-radius: 10px;
  background: #FF9300;
  height: 40px;
  width: 250px;
  /* padding: 25px 15px; */
  cursor: pointer;
  transition: background 0.5s;
}

.form-card-button:hover {
  background: #ff7700;
}

.form-card-button-text {
  padding-top: 10px;
}

.form-card-button a {
  outline: none;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.form-card {
  padding: 40px 0 56px;
  text-align: center;
}

.form-card-button {
  /* /// */
}

.container {
  margin: 30px 0px;
  background: #2F2E2D;
  padding: 10px 0px 80px 0px;
}

.reviews {
  margin: 80px 0px;
}

.reviews-card {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  background: #F2F2F2;
  margin: 10px;
  padding: 15px;
  min-height: 260px;
}

.reviews-card-link {
  position: absolute;
  bottom: 10px;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-card-link a{
  text-decoration: none;
  color: #014D8B;
  font-weight: bold;
}

.rewiews-title {
  margin: 40px 0px 30px 87px;
  font-size: 24px;
}

.rewiews-title-yellow {
  color: #FF9300;
}

.rewiews-title-white {
  color:#f0f0f0;
} 

.reviews-slider {
  min-width: 0;
  position: relative;
  padding: 0px 80px;
}

.reviews-slider .slick-arrow {
  position: absolute;
  top: 104%;
  /* margin-top: 0px; */
  z-index: 10;
  /* font-size: 0; */
  cursor: pointer;
}


.reviews-slider .slick-arrow.slick-prev {
  left: 0;
}

.reviews-slider .slick-arrow.slick-next {
  right: 0;
}

.rewiews-slider-item {

}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  align-items: flex-start;
}

.prev {
  left: 45%;
}

.next {
  right: 45%;
}

.container-4 {

}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-title {
  text-align: center;
  font-size: 24px;
  color:#504E4E;
}

.blog-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
}

.blog-card {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  background: #F2F2F2;
  max-width: 250px;
  padding: 25px;
  margin: 20px;
}

.blog-card-img img {
  width: 250px;
  /*height: 150px;*/
  object-fit: contain;
}

.blog-card-date {
  font-size: 12px;
}

.blog-card-title {
  font-size: 16px;
  font-weight: bold;
}

.blog-card-text {
  font-size: 12px;
  padding: 10px 0px;
}

.blog-card-link {
  position: absolute;
  bottom: 0;
  left: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-card-link a {
  text-decoration: none;
  outline: none;
  color:#014D8B;
  font-weight: bold;
}

.blog-all-article {
  text-align: center;
  border-radius: 10px;
  border: 2px solid #FF9300;
  padding: 10px;
  max-width: 280px;
  min-width: 300px;
  min-height: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: border 0.3s;
}

.blog-all-article:hover {
  border: 2px solid #ff6a00;
}

.blog-all-article a {
  text-decoration: none;
  outline: none;
  color:#212529;
  font-weight: bold;
}

/* footer */

footer {
  background-color: #2F2E2D;
  background-size: cover;
  padding: 30px;
  color: #fff;
}

footer a {
  outline: #fff;
  text-decoration: none;
  color: #fff;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.footer-info {
  
}

.footer-logo {
  display: flex;
  padding-top: 28px;
}

.footer-logo-img {
  padding: 20px 5px;
}

.footer-logo-text {
  width: 180px;
}

.footer-number-info {
  
}

.footer-network {
  display: flex;
  gap: 10px;
}

.footer-site {
  margin-right: 10px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
 
.footer-nav-item ul{
  list-style: none;
  padding-left: 0;
  max-width: 280px;
  /* margin: 10px; */
}

.footer-nav-item {
  margin: 30px;
}

.footer-nav-li li{
  padding: 5px 0px;
}

.nav-item-title a {
  font-weight: bold;
}

.footer-footer {
  display: flex;
  justify-content: center;
  flex-direction:column;
  align-items: center;
  
}

.footer-oferta, .footer-company {
  margin-top: 30px;
  font-size: 14px;
  text-align: center;
}

/*media*/

@media screen and (min-width: 319px) and (max-width: 374px) {
  .header {
    /*width: 100%;
    overflow: hidden;*/
    font-family: "Source Sans Pro", sans-serif;
/*    display: flex;
    flex-direction: column;
    justify-content: flex-start;*/
  }

  .search {
    display: none;
  }

  .header-menu {
    display: none;
  }

  .header-menu-mobile {
    display: flex;
    justify-content: flex-start;
    width: 290px;
    padding-top: 20px;
  }

  .menu-mobile {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #005ca6;
    width: 245px;
    padding: 10px 10px;
  }

  .menu-container {
    display: inline-flex;
    width: 100px;
    background-color: #005ca6;
    border-radius: 5px;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .search-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 40px;
  }

  .search-box input {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: white;
  }

  .menu {
    display: none;
    /* Скрываем меню по умолчанию */
    position: absolute;
    top: 320px;
    left: 28px;
    width: 264px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
  }

  .menu li a {
    text-decoration: none;
    color: #333;
  }

  /* Стиль для раскрытия меню */
  .menu.show {
    display: block;
    /* Показывает меню, когда у него есть класс "show" */
  }

  .header-content {
    
  }

  .header-container {
    justify-content: center;
  }

  .header-logo {
    
  }

  .header-logo-img {
    padding: 10% 10%;
    weight: 30px;
    height: 55px;
  }

  .header-logo-text {
    display: none;
  }

  .header-connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-phone {
    display: flex;
  }

  .header-phone-img {
    margin-right: 10px;
  }

  .header-phone-text {
    font-size: 16px;
  }

  .header-network {
    display: flex;
  }

  .header-network-tg {
    padding-right: 8px;
  }

  .header-network-wp {}

  .header-feedback {
    border: 2px solid #FF9300;
    border-radius: 10px;
    padding: 5px;
  }

  .header-nav ul {
    display: none;
  }

  .header-grey a {
    color: #666;
    text-decoration: none;
  }

  .header a {
    outline: none;
    text-decoration: none;
  }

  .header-nav ul li {
    font-size: 14px;
  }

  .header-basket {
    display: none;
  }

  .smallh1 {
    font-size: 16px;
  }

  .container-1 {
    background-image: url('images/background.jpg');
    background-size: cover;
  }

  .banner {
    padding: 30px;
    /* min-height: 425px; */
  }

  .banner-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .banner-row-content {}

  .banner-list {
    max-width: 650px;
  }

  .banner-title {
    color: #fff;
    font-size: 18px;
    max-width: 230px;
  }

  .banner-activities a {
    outline: none;
    text-decoration: none;
    color: #212529;
  }

  .banner-activities {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding-left: 0;
    width: 245px;
  }

  .banner-activities li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    list-style: none;
    cursor: pointer;
  }

  .banner-activities-yellow {
    background: #ffd47d;
  }

  .banner-activities-white {
    background: #fff;
  }

  .banner-card {
    margin-top: 60px;
    border-radius: 10px;
    background: rgba(80, 78, 78, 0.6);
    padding: 40px 33px 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    max-width: 375px;

  }

  .banner-card-title {
    font-size: 18px;
  }

  .banner-card-text {
    font-size: 17px;
  }

  .banner-card-button a {
    outline: none;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  .banner-card-button {
    background: #FF9300;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 10px;
    transition: background 0.6s;
    cursor: pointer;
  }

  .banner-card-button:hover {
    background: #ff7300;
  }

  .block-why {
  background: #2F2E2D;
  padding: 20px 0px 15px;
  }

  .why-title {
    padding: 5px 0px 5px 20px;
    font-size: 19px;
  }

  .why-title-white {
    color: #fff;
  }

  .why-title-yellow {
    color: #FF9300;
  }

  .why-row {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 10px;
  }

  .why-column {
    flex: 0 1 50%;
    margin: 0px 0px 0px 0px;
  }

  .why-content {}

  .why-item {
    display: flex;
    padding: 10px;
  }

  .why-item-img {
    flex: 0 0 20px;
    padding-right: 5px;
  }

  .why-item-body {
    flex: 1 1 auto;
    padding: 0px 0px 0px 10px;
    min-width: 190px;
    color: #fff;
  }

  .why-item-title {
    font-size: 16px;
    font-weight: bold;
  }

  .why-item-text {
    font-size: 16px;
  }

  .tab {
    display: none;
  }

  .tab-list {
    display: none;
  }

  .title-tabs {
    font-size: 16px;
    text-align: center;
    margin: 5px;
  }

  .tab-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF9300;
    border-radius: 10px;
    background-color: #FF9300;
    margin: 20px 25% 40px 23%;
    padding: 10px;
    height: 40px;
    width: 150px;
    color: #fff;
  }

  .consultation-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12%;
    padding: 30px;
    border-radius: 10px;
    background: #014D8B;
  }

  .consultation-card-title {
    text-align: center;
    color: #fff;
    font-size: 20px;
  }

  .consultation-card-text{
    text-align: center;
    color: #fff;
    max-width: 80%;
    font-size: 16px;
  }

  .form-card-button {
    text-align: center;
    border-radius: 10px;
    background: #FF9300;
    height: 40px;
    width: 200px;
    /* padding: 25px 15px; */
    cursor: pointer;
    transition: background 0.5s;
  }

  .form-card-button:hover {
    background: #ff7700;
  }

  .form-card-button-text {
    font-size: 13px;
    padding-top: 10px;
  }

  .form-card-button a {
    outline: none;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  .form-card {
    padding: 40px 0 56px;
    text-align: center;
  }

  .blog-all-article {
    text-align: center;
    border-radius: 10px;
    border: 2px solid #FF9300;
    padding: 10px;
    max-width: 230px;
    min-width: 200px;
    min-height: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: border 0.3s; 
  }

  .reviews {
    margin: 80px 0px;
  }

  .reviews-card {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background: #F2F2F2;
    margin: 10px;
    padding: 15px;
    min-height: 300px;
  }

  .reviews-card-link {
    position: absolute;
    bottom: 10px;
    top: 280px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviews-card-link a{
    text-decoration: none;
    color: #014D8B;
    font-weight: bold;
  }

  .rewiews-title {
    margin: 40px 0px 30px 50px;
    font-size: 20px;
  }

  .rewiews-title-yellow {
    color: #FF9300;
  }

  .rewiews-title-white {
    color:#f0f0f0;
  } 

  .reviews-slider {
    min-width: 0;
    position: relative;
    padding: 0px 20px;
  }

  .reviews-slider .slick-arrow {
    position: absolute;
    top: 104%;
    /* margin-top: 0px; */
    z-index: 10;
    /* font-size: 0; */
    cursor: pointer;
  }


  .reviews-slider .slick-arrow.slick-prev {
    left: 0;
  }

  .reviews-slider .slick-arrow.slick-next {
    right: 0;
  }

  .rewiews-slider-item {

  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    align-items: flex-start;
  }

  .prev {
    left: 25%;
  }

  .next {
    right: 25%;
  }
}

@media screen and (min-width: 374px) and (max-width: 376px) {
  .header {
    font-family: "Source Sans Pro", sans-serif;
  }

  .search {
    display: none;
  }

  .header-menu {
    display: none;
  }

  .header-menu-mobile {
    display: flex;
    justify-content: flex-start;
    width: 290px;
    padding: 20px 30px;
  }

  .menu-mobile {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #005ca6;
    width: 245px;
    padding: 10px 10px;
  }

  .menu-container {
    display: inline-flex;
    width: 100px;
    background-color: #005ca6;
    border-radius: 5px;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .search-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 40px;
  }

  .search-box input {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: white;
  }

  .menu {
    display: none;
    /* Скрываем меню по умолчанию */
    position: absolute;
    top: 310px;
    left: 55px;
    width: 265px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
  }

  .menu li a {
    text-decoration: none;
    color: #333;
  }

  /* Стиль для раскрытия меню */
  .menu.show {
    display: block;
    /* Показывает меню, когда у него есть класс "show" */
  }

  .header-content {
    
  }

  .header-container {
    justify-content: center;
  }

  .header-logo {
    display: flex;
  }

  .header-logo-img {
    padding: 10px 20px 15px 40px;
  }

  .header-logo-text {
    display: none;
  }

  .header-connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-phone {
    display: flex;
  }

  .header-phone-img {
    margin-right: 10px;
  }

  .header-phone-text {
    font-size: 20px;
  }

  .header-network {
    display: flex;
  }

  .header-network-tg {
    padding-right: 8px;
  }

  .header-network-wp {}

  .header-feedback {
    border: 2px solid #FF9300;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
  }

  .header-nav ul {
    display: none;
  }

  .header-grey a {
    color: #666;
    text-decoration: none;
  }

  .header a {
    outline: none;
    text-decoration: none;
  }

  .header-nav ul li {
    font-size: 14px;
  }

  .header-basket {
    display: none;
  }

  .smallh1 {
    font-size: 16px;
  }

  .container-1 {
    background-image: url('images/background.jpg');
    background-size: cover;
  }

  .banner-title {
    font-size: 18px;
  }

  .banner-activities li {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: 100%;
  }

  .banner-card-title {
    font-size: 20px;
  }

  .banner-card-text {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .why-title {

  }

  .why-item-text {

  }

  .prev {
    left: 25%;
  }

  .next {
    right: 25%;
  }

  .tab {
    display: none;
  }

  .tab-list {
    display: none;
  }

  .title-tabs {
    font-size: 16px;
    text-align: center;
    margin: 5px;
  }

  .tab-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF9300;
    border-radius: 10px;
    background-color: #FF9300;
    margin: 20px 25% 40px 23%;
    padding: 10px;
    height: 40px;
    width: 150px;
    color: #fff;
  }

  .consultation-card {
    
  }

  .consultation-card-title {
   
  }

  .consultation-card-text {
    width: 90%;
    font-size: 110%;
  }

  .form-card-button {
    text-align: center;
    border-radius: 10px;
    background: #FF9300;
    height: 40px;
    width: 200px;
    /* padding: 25px 15px; */
    cursor: pointer;
    transition: background 0.5s;
  }

  .form-card-button:hover {
    background: #ff7700;
  }

  .reviews {
    margin: 80px 0px;
  }

  .reviews-card {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background: #F2F2F2;
    margin: 10px;
    padding: 15px;
    min-height: 270px;
  }

  .reviews-card-link {
    position: absolute;
    bottom: 10px;
    top: 250px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviews-card-link a{
    text-decoration: none;
    color: #014D8B;
    font-weight: bold;
  }

  .rewiews-title {
    margin: 40px 0px 30px 50px;
    font-size: 20px;
  }

  .rewiews-title-yellow {
    color: #FF9300;
  }

  .rewiews-title-white {
    color:#f0f0f0;
  } 

  .reviews-slider {
    min-width: 0;
    position: relative;
    padding: 0px 20px;
  }

  .reviews-slider .slick-arrow {
    position: absolute;
    top: 104%;
    /* margin-top: 0px; */
    z-index: 10;
    /* font-size: 0; */
    cursor: pointer;
  }


  .reviews-slider .slick-arrow.slick-prev {
    left: 0;
  }

  .reviews-slider .slick-arrow.slick-next {
    right: 0;
  }

  .rewiews-slider-item {

  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    align-items: flex-start;
  }

}

@media screen and (min-width: 420px) and (max-width: 765px) {
  .header {
    font-family: "Source Sans Pro", sans-serif;
  }

  .search {
    display: none;
  }

  .header-menu {
    display: none;
  }

  .header-menu-mobile {
    display: flex;
    justify-content: flex-start;
    width: 290px;
    padding: 20px 60px;
  }

  .menu-mobile {
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    background-color: #005ca6;
    width: 245px;
    padding: 10px 10px;
  }

  .menu-container {
    display: inline-flex;
    width: 100px;
    background-color: #005ca6;
    border-radius: 5px;
  }

  .burger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    width: 40px;
    height: 20px;
    cursor: pointer;
    margin-right: 10px;
  }

  .line {
    width: 100%;
    height: 2px;
    background-color: white;
  }

  .search-box {
    display: flex;
    align-items: center;
    margin-left: auto;
    width: 40px;
  }

  .search-box input {
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    background-color: white;
  }

  .menu {
    display: none;
    position: absolute;
    top: 310px;
    left: 80px;
    width: 265px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }

  .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .menu li {
    padding: 10px 20px;
    border-bottom: 1px solid #eee;
  }

  .menu li a {
    text-decoration: none;
    color: #333;
  }

  .menu.show {
    display: block;
  }

  .header-content {
    
  }

  .header-container {
    justify-content: center;
  }

  .header-logo {
    display: flex;
  }

  .header-logo-img {
    padding: 10px 20px 15px 65px;
  }

  .header-logo-text {
    display: none;
  }

  .header-connection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header-phone {
    display: flex;
  }

  .header-phone-img {
    margin-right: 10px;
  }

  .header-phone-text {
    font-size: 20px;
  }

  .header-network {
    display: flex;
  }

  .header-network-tg {
    padding-right: 8px;
  }

  .header-network-wp {}

  .header-feedback {
    border: 2px solid #FF9300;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
  }

  .header-nav ul {
    display: none;
  }

  .header-grey a {
    color: #666;
    text-decoration: none;
  }

  .header a {
    outline: none;
    text-decoration: none;
  }

  .header-nav ul li {
    font-size: 14px;
  }

  .header-basket {
    display: none;
  }

  .smallh1 {
    font-size: 16px;
  }

  .container-1 {
    background-image: url('images/background.jpg');
    background-size: cover;
  }

  .banner-title {
    font-size: 18px;
  }

  .banner-activities li {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    font-size: 100%;
  }

  .banner-card-title {
    font-size: 20px;
  }

  .banner-card-text {
    font-size: 16px;
    padding-bottom: 20px;
  }

  .why-title {

  }

  .why-item-text {

  }

  .prev {
    left: 25%;
  }

  .next {
    right: 25%;
  }

  .tab {
    display: none;
  }

  .tab-list {
    display: none;
  }

  .title-tabs {
    font-size: 16px;
    text-align: center;
    margin: 5px;
  }

  .tab-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FF9300;
    border-radius: 10px;
    background-color: #FF9300;
    margin: 20px 25% 40px 23%;
    padding: 10px;
    height: 40px;
    width: 150px;
    color: #fff;
  }

  .consultation-card {
    
  }

  .consultation-card-title {
   
  }

  .consultation-card-text {
    width: 90%;
    font-size: 110%;
  }

  .form-card-button {
    text-align: center;
    border-radius: 10px;
    background: #FF9300;
    height: 40px;
    width: 200px;
    /* padding: 25px 15px; */
    cursor: pointer;
    transition: background 0.5s;
  }

  .form-card-button:hover {
    background: #ff7700;
  }

  .reviews {
    margin: 80px 0px;
  }

  .reviews-card {
    position: relative;
    display: inline-block;
    border-radius: 10px;
    background: #F2F2F2;
    margin: 10px;
    padding: 15px;
    min-height: 270px;
  }

  .reviews-card-link {
    position: absolute;
    bottom: 10px;
    top: 250px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .reviews-card-link a{
    text-decoration: none;
    color: #014D8B;
    font-weight: bold;
  }

  .rewiews-title {
    margin: 40px 0px 30px 50px;
    font-size: 20px;
  }

  .rewiews-title-yellow {
    color: #FF9300;
  }

  .rewiews-title-white {
    color:#f0f0f0;
  } 

  .reviews-slider {
    min-width: 0;
    position: relative;
    padding: 0px 20px;
  }

  .reviews-slider .slick-arrow {
    position: absolute;
    top: 104%;
    /* margin-top: 0px; */
    z-index: 10;
    /* font-size: 0; */
    cursor: pointer;
  }


  .reviews-slider .slick-arrow.slick-prev {
    left: 0;
  }

  .reviews-slider .slick-arrow.slick-next {
    right: 0;
  }

  .rewiews-slider-item {

  }

  .slick-list {
    overflow: hidden;
  }

  .slick-track {
    display: flex;
    align-items: flex-start;
  }

}

@media screen and (min-width: 765px) and (max-width: 800px) {

  .header-logo-text {
    display: none;
  }

  .header-connection {
    justify-content: space-evenly;
  }

  .header-logo {
    display: none;
  }

  .header-phone {
    margin-top: 28px;
  }

  .header-network {
    margin-top: 25px;
  }

  .header-feedback {
    margin-top: 20px;
    height: 20px;
  }

  .header-logo-img-mobile {
    display: flex;
    padding-right: 145px;
  }

  .header-container {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .header-nav ul li {
    font-size: 15px;
  }

  .banner-activities {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    padding-left: 0;
  }

  .banner-activities li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
    border-radius: 10px;
    height: 30px;
    width: 250px;
    list-style: none;
    cursor: pointer;
  }

  .prev {
    left: 25%;
  }

  .next {
    right: 25%;
  }

  .body-advantages-item {

  }

  .footer-content {
    display: flex;
    flex-direction: column;
  }

  .reviews-card-link {
    position: absolute;
    bottom: 10px;
    top: 240px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

@media screen and (min-width: 800px) and (max-width: 1024px) {
  
  .header-logo-text {
    display: none;
  }

  .header-logo-text-laptop {
    display: block;
    padding-right: 145px;
    color: gray;
  }

  .header-connection {
    justify-content: space-evenly;
  }

  .header-logo {
    display: none;
  }

  .header-phone {
    margin-top: 28px;
  }

  .header-network {
    margin-top: 25px;
  }

  .header-feedback {
    margin-top: 20px;
    height: 20px;
  }

  .header-logo-img-mobile {
    display: flex;
    padding-right: 10px;
    padding-top: 10px;
  }

  .header-container {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .header-nav ul li {
    font-size: 15px;
  }

  .yellow a{
    font-size: 16px;
  }

  .prev {
    left: 25%;
  }

  .next {
    right: 25%;
  }

  .reviews-card {
    height: 290px;
  }

  .reviews-card-link {
    position: absolute;
    bottom: 10px;
    top: 260px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1025px) and (max-width: 2200px) {
  .reviews-card {
    height: 300px;
    font-size:18px ;
  }

  .reviews-card-link {
    position: absolute;
    bottom: 10px;
    top: 270px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header-logo-text {
    display: none;
  }

  .header-logo-text-laptop {
    display: block;
    padding-right: 560px;
    color: gray;
  }

  .header-connection {
    justify-content: space-evenly;
  }

  .header-logo {
    display: none;
  }

  .header-phone {
    margin-top: 28px;
  }

  .header-network {
    margin-top: 25px;
  }

  .header-feedback {
    margin-top: 20px;
    height: 20px;
  }

  .header-logo-img-mobile {
    display: flex;
    padding-right: 10px;
    padding-top: 10px;
  }

  .header-container {
    display: flex;
    align-items: center;
    align-content: center;
  }

  .header-nav ul li {
    font-size: 20px;
  }

  .yellow a{
    font-size: 21px;
  }
}

@media screen and (min-width: 2200px) and (max-width: 2570px) {
  .header-logo {
    padding-left: 500px;
  }

  .header-container {
    width: 900px;
    padding-right: 500px;
  }

  .header-nav ul li {
    font-size: 18px;
  }

  .banner-row-content {
    padding-left: 500px;
  }

  .banner-card {
    margin-top: 30px;
    margin-right: 470px;
  }

  .tab-container {
    padding: 0px 500px;
  }

  .block-why {
    padding: 50px 500px;
  }

  .reviews-card {
    height: 250px;
    font-size:18px ;
  }

  .reviews-card-link {
    position: absolute;
    bottom: 10px;
    top: 230px;
    left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}